= javascript_include_tag 'login'

= content_for(:title, t('las.logins.title'))

#message
  %input.blank_name{type: 'hidden', value: t('las.logins.message.alert.blank.name')}
  %input.blank_password{type: 'hidden', value: t('las.logins.message.alert.blank.password')}
  %input.invalid_authorization{type: 'hidden', value: t('las.logins.message.alert.invalid_authorization')}

#alert
  - if alert
    %ul
      - if alert.instance_of?(Array)
        - alert.each do |alert_message|
          %li
            = alert_message
      - else
        %li
          = alert

= form_for(:user, url: logins_path) do |f|
  %div#user_form
    %div.name_field
      = f.label :name, 'name'
      = f.text_field :name
    %div.password_field
      = f.label :password, 'password'
      = f.password_field :password
    %div.submit_field
      = f.submit 'login'

= link_to 'reset_password', new_reset_password_path
