<%= form_for(@skill_profile) do |f| %>
  <% if @skill_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill_profile.errors.count, "error") %> prohibited this skill_profile from being saved:</h2>

      <ul>
      <% @skill_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.text_field :profile_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
