- if alert.present?
  #error_message
    %div
      - alert.each do |message|
        %li
          = message

%div.col-lg-6
  %div.well.bs-component
    = form_for(:article, {url: skill_profile_url, method: :put, id: @article.id, html: {class: 'form-horizontal'}}) do |f|
      %div
        = label_tag :content, t('las.week_reports.content')
        = f.text_area :content, value: @article.content.html_safe
      %div
        = submit_tag t('las.week_reports.submit')

= link_to 'Back', skill_profiles_path
