= form_tag(search_skill_profiles_url, method: :put) do
  %div
    = label_tag :search, 'search'
    = text_field_tag 'search'
  %div
    = submit_tag 'submit'


%div
  %table
    %thead
      %tr
        %th{colspan: '3'}
        %th Title 
        %th Content
        %th{colspan: '3'}
    %tbody
      - @profiles.each do |profile|
        %tr
          %td{colspan: '3'}
          %td= link_to profile.title + announce_comment(profile.article.id), skill_profile_path(id: profile.article.id)
          %td
            = profile.user.name
            - if profile.user.avatar?
              = image_tag profile.user.avatar.thumb.url
            - else
              %i.icon-user

%br/
= link_to 'New Skill profile', new_skill_profile_path
= link_to 'Home', root_path
