%h1 Listing skill_profiles
%table
  %thead
    %tr
      %th Profile
      %th User
      %th{:colspan => "3"}
  %tbody
    - @skill_profiles.each do |skill_profile|
      %tr
        %td= skill_profile.profile
        %td= skill_profile.user
        %td= link_to 'Show', skill_profile
        %td= link_to 'Edit', edit_skill_profile_path(skill_profile)
        %td= link_to 'Destroy', skill_profile, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Skill profile', new_skill_profile_path
