%h1 Listing skill_profiles
%table
  %thead
    %tr
      %th title
      %th{:colspan => "3"}
      %th{:colspan => "3"}
      %th{:colspan => "3"}
  %tbody
    - SkillProfile.latest.each do |profile|
      %tr
        %td= profile.title
        %td= link_to 'Show', skill_profile_path(id: profile.article.id)
        %td= link_to 'Destroy', skill_profile_path(id: profile.article.id), method: :delete, data: { confirm: 'Are you sure?' }
        - if Comment.followed?(profile.article.id)
          %td
            = link_to "(#{Comment.num_followed(profile.article.id)})", '#'
%br/
= link_to 'New Skill profile', new_skill_profile_path
= link_to 'Home', root_path
