- if alert.present?
  #error_message
    %div
      - alert.each do |message|
        %li
          = message

= form_for(:article, url: skill_profiles_path) do |f|
  %div
    = f.label :title, t('las.skill_profiles.title')
    = f.text_field :title

  %div
    = f.label :content, t('las.skill_profiles.content')
    = f.text_area :content
  = f.submit t('las.skill_profiles.submit')

= link_to 'Back', skill_profiles_path
