= javascript_include_tag 'skill_profiles'

- if @article.skill_profile.user.id == session[:id]
  = link_to 'Edit', edit_skill_profile_path(id: @article.id)

%div
  #notice= notice

%div
  title:
  = @article.title
%div
  content:
  - case @article.written_style
  - when Settings[:user][:write_style][:plain]
    = @article.content
  - when Settings[:user][:write_style][:md]
    = markdown_to_html(@article.content)

%div
  - if Comment.followed?(@article.id)
    - Comment.show_all(@article.id).each do |comment|
      %hr
        %li
          = comment.content
%hr

= form_for(:comment, url: comment_skill_profiles_path(article_id: @article.id)) do |f|
  %div#comment_form
    %div.content_field
      = f.label :content, 'Comment'
      = f.text_field :content
    %div.submit_field
      = f.submit 'submit'

%div
  = link_to 'Back', skill_profiles_path
