= javascript_include_tag 'skill_profiles'

#alert
  - if alert
    %ul
      - alert.each do |message|
        %li
          = message


- if @article.skill_profile.user.id == session[:id]
  = link_to t('las.skill_profile.link.edit'), edit_skill_profile_path(id: @article.id)

%div.title_description
  = @article.skill_profile.user.name
%div.content_description
  - case @article.written_style
  - when Settings.user.write_style.plain
    = @article.content
  - when Settings.user.write_style.md
    = markdown_to_html(@article.content)

%div.comment_description
  - if Comment.followed?(@article.id)
    - Comment.show_all(@article.id).each do |comment|
      %ul
        %li
          = comment.content

= form_for(:comment, url: comment_skill_profiles_path(article_id: @article.id)) do |f|
  %div#comment_description
    %div.content_description
      = f.label :content, t('las.skill_profile.label.comment')
      = f.text_field :content
    %div.submit_field
      = f.submit t('las.skill_profile.button.submit')

= link_to t('las.skill_profile.link.index'), skill_profiles_path
