= form_for(@week_report) do |f|
  - if @week_report.errors.any?
    #error_explanation
      %h2
        = pluralize(@week_report.errors.count, "error")
        prohibited this week_report from being saved:
      %ul
        - @week_report.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :user_id
    %br/
    = f.text_field :user_id
  .field
    = f.label :report_id
    %br/
    = f.text_field :report_id
  .actions
    = f.submit
