<%= form_for(@week_report) do |f| %>
  <% if @week_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week_report.errors.count, "error") %> prohibited this week_report from being saved:</h2>

      <ul>
      <% @week_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :report_id %><br>
    <%= f.text_field :report_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
