%h1 Listing week_reports

%table
  %thead
    %tr
      %th User
      %th Report
      %th{:colspan => "3"}
  %tbody
    - @week_reports.each do |week_report|
      %tr
        %td= week_report.user
        %td= week_report.report
        %td= link_to 'Show', week_report
        %td= link_to 'Edit', edit_week_report_path(week_report)
        %td= link_to 'Destroy', week_report, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Week report', new_week_report_path
