
%div
  #notice= notice

%div
  title:
  = @report.title
%div
  content:
  = @report.content

= form_for(:comment, url: comment_week_reports_path(article_id: @report.id)) do |f|
  %div
    = f.label :content, 'Comment'
    = f.text_field :content
  = f.submit 'submit'

%div
  = link_to 'Back', week_reports_path
