<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @week_report.user %>
</p>

<p>
  <strong>Report:</strong>
  <%= @week_report.report %>
</p>

<%= link_to 'Edit', edit_week_report_path(@week_report) %> |
<%= link_to 'Back', week_reports_path %>
