= javascript_include_tag 'login'

= content_for(:title, I18n.t('las.login.new.title'))

#alert
  - if alert
    %ul
      - if alert.instance_of?(Array)
        - alert.each do |alert_message|
          %li
            = alert_message
      - else
        %li
          = alert

= form_for(:user, url: login_path) do |f|
  %div#user_form
    %div.name_field
      = f.label :name, 'name'
      = f.text_field :name
    %div.password_field
      = f.label :password, 'password'
      = f.password_field :password
    %div.submit_field
      = f.submit 'login'

= link_to 'reset_password', new_reset_password_path
