= content_for :title, t('las.reset_password.title')

%div
  %div
    = form_for(@user, url: reset_password_url(@token)) do |f|
      %div
        = f.label :password, 'password'
        = f.password_field :password, class: 'form-control'
      %div
        = f.label :password_confirmation, 'password_confirmation'
        = f.password_field :password_confirmation
      %div
        = f.submit 'submit'
